<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find an Animal</title>
    <link rel="stylesheet" href="Adoption.css">
    <script src="AdoptionJS.js"></script>
</head>
<body>
    <div class="container">
        <div id="head">
            <%- include('Header') %>
        </div>
        <div class="forms">
        <div id="navbar">
            <nav>
                <ul>
                    <li><a href=/Home>Home Page</a></li>
                    <li><a class="active" href=/FindAnimal>Find a Dog/Cat</a></li>
                    <li><a href=/DogCare>Dog Care</a></li>
                    <li><a href=/CatCare>Cat Care</a></li>
                    <li><a href=/GiveAway>Have a Pet to Give Away</a></li>
                    <li><a href=/CreateAccount>Create an Account</a></li>
                    <li><a href=/Contact>Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div id="theForm">
            <form id="finderForm">
                <fieldset>
                    <legend>Dog/Cat Finder</legend>
                        <p><b>What animal are you looking for?</b><br>
                        <input type="radio" id="dog" name="animal" value="Dog">
                        <label for="dog">Dog</label>
                        <input type="radio" id="cat" name="animal" value="Cat">
                        <label for="cat">Cat</label></p>
                        <p><b>What breed of dog/cat are you looking for?</b><br>
                           <input type="text" id="breed" name="breed">
                           <input type="checkbox" id="nomatter" name="breed" value="Doesn't Matter">
                           <label for="nomatter">Doesn't Matter</label>
                        </p>
                        <p><b>Please select the prefered age of the animal.</b>
                            <select name="age" id="age">
                                <option></option>
                                <option>0-2</option>
                                <option>2-4</option>
                                <option>4-6</option>
                                <option>6-8</option>
                                <option>8+</option>
                            </select>
                        </p>
                        <p><b>Please select the prefered gender of the animal.</b><br>
                            <input type="radio" id="male" name="gender" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="Female">
                            <label for="female">Female</label>
                            <input type="radio" id="nomatter2" name="gender" value="Doesn't Matter">
                            <label for="nomatter2">Doesn't Matter</label>
                        </p>
                        <p><b>Please select the options that the animal would need to get along with.</b><br>
                            <input type="checkbox" id="dogs" name="dogs" value="Dogs">
                            <label for="dogs">Dogs</label>
                            <input type="checkbox" id="cats" name="cats" value="Cats">
                            <label for="cats">Cats</label>
                            <input type="checkbox" id="children" name="children" value="Small Children">
                            <label for="children">Small Children</label><br>
                        </p>
                        <button type="submit" value="Submit" onsubmit="validateFinderForm()">Submit</button>
                        <input type="reset" value="Clear">
                        <p id="error" style="color:red"></p>
                </fieldset>
            </form>   
        </div> 
        </div>
        <div id="foot">
            <%- include ('Footer') %>
        </div>
    </div>



</body>
</html>