<header>
    <a href=/Home><img id="logo" alt="Logo of a heart with a paw in the middle" src="https://img.freepik.com/free-vector/calligraphy-heart-with-paw-print_78370-6296.jpg?w=740&t=st=1721603656~exp=1721604256~hmac=b3f9081db9ac79b539a2f860055eedd4d8f04f9db9f660d62fd79e7802a34533"></a>
    <h2>Animal Adoption Center</h2>
    <span id="time"></span>
</header>