<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Disclaimer</title>
    <link rel="stylesheet" href="Adoption.css">
    <script src="AdoptionJS.js"></script>
</head>
<body>
    <div class="container">
        <div id="head">
            <%- include('Header') %>
        </div>
        <div class="care">
        <div id="navbar">
            <nav>
                <ul>
                    <li><a href=/Home>Home Page</a></li>
                    <li><a href=/FindAnimal>Find a Dog/Cat</a></li>
                    <li><a href=/DogCare>Dog Care</a></li>
                    <li><a href=/CatCare>Cat Care</a></li>
                    <li><a href=/GiveAway>Have a Pet to Give Away</a></li>
                    <li><a href=/CreateAccount>Create an Account</a></li>
                    <li><a href=/Contact>Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div id="privacyNlogout">
            <h1><u>Privacy Disclaimer</u></h1>
            <p>
               <b>The Animal Adoption Center promises you that your information will not be sold or misused.</b><br>
                <b>We are not accountable for any misinformation posted by a pet owner in an advertisment on our site.</b>
            </p>
        </div>
        </div>
        <div id="foot">
            <%- include ('Footer') %>
        </div>
    </div>



</body>
</html>